#heat_map {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 4px 4px 4px 1px;
  height: 70vh;
  width: 85vw;
  padding: 1em;
  border-radius: 10px;
}

svg,
.datamaps-subunits {
  padding: .5em;
  height: 100%;
  width: 100%;
}
